<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Proyecto 1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                At totam sit neque ipsa eos magnam omnis deserunt quam eligendi cupiditate sequi 
                reprehenderit nulla, exercitationem, obcaecati laudantium porro doloribus nihil numquam.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/Proyecto1.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>